/* .title{
  text-align: center;
} */

th{
  text-align: left;
  font-size: x-large ;

}
td{
  font-weight: bold;
  /* color: brown; */
}

/* input{
  width: 100%;
  font-size: x-large;
  padding: 0.2rem;
  background-color: aquamarine;
} */